body {
    text-align: center;
    background-color: black;
    color: white;
    display: block;
}

.content {
    padding-top: 10px;
}

table {
    background-color: white;
    color: black;
}

th, td {
    border: 1px solid black;
    max-width: 700px;
}

